<div class="footer">
  <a onclick="history.back()"><i class="fas fa-caret-left"></i></a>
  <div class="footer-main-btn-container">
    <%= link_to root_path do %> <i class="fas fa-running"></i> <% end  %>
  </div>
  <a onclick="history.forward()"><i class="fas fa-caret-right"></i></a>
</div>
