<div class="home-footer">
  <ul class="list-inline">
    <li class="list-inline-item">2019 TrailBe</li>
    <a class="mr-2" href="mailto:info@trailbe.com?" target="_top"><li class="list-inline-item"> Contattaci </li></a>
    <a href="https://www.iubenda.com/privacy-policy/67802227" target="_blank"> <li class="list-inline-item">  Privacy </li> </a>
   </ul>

</div>
