<% set_meta_tags title: 'TrailBe - Trailrunning Together',
               description: "TrailBe è l'app per connettere trail runners, condividere le proprie uscite e trovare nuovi compagni d'allenamento.",
               keywords: 'Trailrunning, Allenamento, Trail, Skyrunning' %>
<% set_meta_tags og: {
  title: 'TrailBe - Trailrunning Together',
  type:  'website',
  url:   'http://www.trailbe.com',
  image:  'https://res.cloudinary.com/run-db/image/upload/v1555933802/trailbeog.png',
  description: "TrailBe è l'app per connettere trail runners, condividere le proprie uscite e trovare nuovi compagni d'allenamento"
}  %>


<div class="container-fluid home-container d-flex justify-content-center">
  <div class="d-flex flex-column w-75 text-center py-5 ">
    <h1 class="mb-5"> Title</h1>
     <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores dicta neque consectetur fuga odit rerum, magnam incidunt eos est voluptate cupiditate consequatur quis quae sunt, non vero debitis necessitatibus repellat.</p>
     <div class="mx-auto d-flex flex-column w-75 align-items-center home-btn-container mt-3">
       <% if user_signed_in? %>
         <%= link_to "accedi", runs_finder_path, class: "home-action-btn mb-3 btn btn-secondary" %>
       <% else %>
         <%= link_to "accedi", new_user_session_path, class: "home-action-btn mb-3 btn btn-secondary" %>
         <%= link_to "registrati", new_user_registration_path, class: "home-action-btn mb-3 btn btn-secondary" %>
       <% end %>


     </div>
  </div>

</div>
