.notice{
  background-color: #8ff78f;
  padding: 12px;
  font-weight: 300;
  font-size: 14px;
  text-align: center;
  margin-bottom: 0px !important
}

.alert{
  text-align: center;
  background-color: #f99a9a;
}
