.map-modal-btn{
    display: block;
    position: fixed;
    z-index: 999999;
    right: 0px;
    font-size: 15px !important;
    padding: 13px 15px;
    margin-right: 30px;
    top: calc(100vh - 228px);
    border-radius: 50% !important;
    right: 0px;
    top: calc(100vh - 128px);
}




@media only screen and (max-width: 1022px) {
  .map-modal-btn {
    display: block;
  }
}

@media only screen and (max-width: 1022px) {
  .map-modal-btn {
    top: calc(100vh - 66px);
  }
}
@media only screen and (max-width: 613px) {
  .map-modal-btn {
    top: calc(100vh - 120px);
  }
}


@media only screen and (min-width: 1023px) {
  .map-modal-btn {
    display: none;
  }
}
