.close-map-modal-btn{

      width: 100px;
      font-size: 15px;
      padding: 5px;
      position: absolute;
      bottom: 70px;
      right: 10px;
      z-index: 40;
      text-shadow: none !important;
      opacity: 1 !important;
      background-color: #68CE5D !important;
      padding: 5px 7px !important;
      font-weight: 400 !important;
}
