<div class="container">
  <div class="row">
      <div class="col-lg-8 mx-auto">
        <%= render "runs/runs_card", user: @user, runs: @all_organized_runs, no_link: true %>
      </div>
  </div>
</div>
